In [436]:
import re
import pandas as pd

Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [6]:
def is_vowel(the_string): 
    regexp = r'[aeiou]'
    return bool(re.findall(regexp, the_string))

In [9]:
is_vowel('l')

False

In [11]:
is_vowel('a')

True

Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [36]:
def is_valid_username(string):
    regexp = r'^[a-z][a-z_]*[a-z]$'
    return bool(re.findall(regexp, string))

In [43]:
is_valid_username('helLo')

False

Write a regular expression to capture phone numbers. It should match all of the following:

In [114]:
the_str_1 = '(210) 867 5309'
the_str_2 = '+1 210.867.5309'
the_str_3 = '867-5309'
the_str_4 = '210-867-5309'

In [260]:
def num_func(the_str):
    regexp = r'^[+]?\d?[(]?[\s]?\d?\d?\d?[\s)/.-][\s]?\d?\d?\d?[\s)/.-]?\d\d\d\d'
    return re.findall(regexp, the_str)

In [270]:
num_func(the_str_4)

['210-867-5309']

Use regular expressions to convert the dates below to the standardized year-month-day format.

In [645]:
str_1 = '02/04/19'
str_2 = '02/05/19'
str_3 = '02/06/19'
str_4 = '02/07/19'
str_5 = '02/08/19'
str_6 = '02/09/19'
str_7 = '02/10/19'

the_list = [str_1,str_2,str_3,str_4,str_5,str_6,str_7]

In [640]:
def year_month_day(the_str):
    regexp = r'\d?\d?'
    answer = re.findall(regexp, the_str)
    print('20' + answer[4] + '/' + answer[0] + '/' + answer[2])

In [646]:
for i in the_list:
    year_month_day(i)

2019/02/04
2019/02/05
2019/02/06
2019/02/07
2019/02/08
2019/02/09
2019/02/10

In [643]:
year_month_day(str_3)

2019/02/06

In [651]:
str_1 = '''GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58'''
str_2 = '''POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58'''
str_3 = '''GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'''
list_of_requests = [str_1, str_2, str_3]

Write a regex to extract the various parts of these logfile lines:

In [550]:
def different_parts(the_str):
    the_df = pd.DataFrame()
    regexp = r'([A-Z]{3,4}\s)'
    answer = pd.DataFrame(re.findall(regexp, the_str))
    the_df = pd.concat([the_df, answer], axis= 1)
    
    regexp = r'(\s[//].+?\s)'
    answer = pd.DataFrame(re.findall(regexp, the_str))
    the_df = pd.concat([the_df, answer], axis= 1)
    
    regexp = r'([[].+?[]])'
    answer = pd.DataFrame(re.findall(regexp, the_str))
    the_df = pd.concat([the_df, answer], axis= 1)
    
    regexp = r'(HTT.+?\s)'
    answer = pd.DataFrame(re.findall(regexp, the_str))
    the_df = pd.concat([the_df, answer], axis= 1)
    
    regexp = r'([{].+?[}])'
    answer = pd.DataFrame(re.findall(regexp, the_str))
    the_df = pd.concat([the_df, answer], axis= 1)
    
    regexp = r'([\s][\d]\w+?\s)'
    answer = pd.DataFrame(re.findall(regexp, the_str))
    the_df = pd.concat([the_df, answer], axis= 1)
    
    regexp = r'(["].+?["])'
    answer = pd.DataFrame(re.findall(regexp, the_str))
    the_df = pd.concat([the_df, answer], axis= 1)
    
    regexp = r'([\s]\d\d[\.].+\b)'
    answer = pd.DataFrame(re.findall(regexp, the_str))
    the_df = pd.concat([the_df, answer], axis= 1)
    


    return the_df

In [554]:
r'(["].+?["])([\s]\d\d[\.].+\b)'

'(["].+?["])([\\s]\\d\\d[\\.].+\\b)'

In [551]:
different_parts(str_2)

,0,0,0,0,0,0,0,0
0,POST,/users_accounts/file-upload,[16/Apr/2019:193452+0000],HTTP/1.1,{201},42,"""User-Agent: Mozilla/5.0 (X11; Fedora; Fedora;...",97.105.19.58

In [592]:
def one_liner(the_str):
    
    master_reg_ex = r'([A-Z]{3,4}\s)([//].+?\s)([[].+?[]])[\s](HTT.+?\s)([{].+?[}])([\s][\d]\w+?\s)(["].+?["])([\s]\d\d[\.].+\b)'
    return re.findall(master_reg_ex, the_str)

In [593]:
one_liner(str_1)

/var/folders/9q/9mllqnsn2vq07btq58zw9zzc0000gn/T/ipykernel_34441/2232104776.py:12: FutureWarning: Possible nested set at position 27
  return re.findall(master_reg_ex, the_str)

[('GET ',
  '/api/v1/sales?page=86 ',
  '[16/Apr/2019:193452+0000]',
  'HTTP/1.1 ',
  '{200}',
  ' 510348 ',
  '"python-requests/2.21.0"',
  ' 97.105.19.58')]

In [658]:
the_df = pd.DataFrame()
for i in list_of_requests:
    the_list = one_liner(i)
    the_df = pd.concat([the_df, pd.DataFrame(the_list)])

the_df

,0,1,2,3,4,5,6,7
0,GET,/api/v1/sales?page=86,[16/Apr/2019:193452+0000],HTTP/1.1,{200},510348,"""python-requests/2.21.0""",97.105.19.58
0,POST,/users_accounts/file-upload,[16/Apr/2019:193452+0000],HTTP/1.1,{201},42,"""User-Agent: Mozilla/5.0 (X11; Fedora; Fedora;...",97.105.19.58
0,GET,/api/v1/items?page=3,[16/Apr/2019:193453+0000],HTTP/1.1,{429},3561,"""python-requests/2.21.0""",97.105.19.58

In [599]:
with open('/usr/share/dict/words', 'r') as f:
    data = f.readlines()
    print(len(data))

235976

How many words have at least 3 vowels in a row?

In [635]:
with open('/usr/share/dict/words', 'r') as f:
    data = f.readlines()
    regexp = r'[aeiouAEIOU]{3,}?'
    count = 0
    for i in data:
        if len(re.findall(regexp, i)) == 1:
            count +=1

In [636]:
count

6114

How many words have at least 3 vowels?

In [631]:
with open('/usr/share/dict/words', 'r') as f:
    data = f.readlines()
    regexp = r'([aeiouAEIOU].+?){3,}?'
    count = 0
    for i in data:
        if len(re.findall(regexp, i)) == 1:
            count +=1

In [632]:
count

150177

How many words have at least 4 consonants in a row?

In [633]:
with open('/usr/share/dict/words', 'r') as f:
    data = f.readlines()
    regexp = r'([^aeiouAEIOU].+?){3,}?'
    count = 0
    for i in data:
        if len(re.findall(regexp, i)) == 1:
            count +=1

In [634]:
count

171603

How many words start and end with the same letter?

In [638]:
with open('/usr/share/dict/words', 'r') as f:
    data = f.readlines()
    regexp = r''
    count = 0
    for i in data
    
        re.findall(regexp, i)